body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Indie Flower', cursive;   
}

.boxes > div {
    border: 2px solid rebeccapurple;
    padding: .5em;
    margin: .5em;
    background-color: orange;
}

.boxes div p {
    border: 1px solid blue;
    margin:0;
    margin-left: 1em;
}

/* Flexbox! */
.boxes {
    display:flex;
    flex-wrap: wrap;
    bordeR: 2px solid green;
}

.boxes > div {
    /* flex-grow: 1; */
    flex-basis: 200px;
}

.boxes > .a {
    /* flex-grow: 4; */
    flex-basis: 100px;
}

