* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: red;
}

body {
    background-color: blue;
}

/* Flexbox! */
.boxes {
    border: 2px solid green;

    display: flex;
    flex-wrap: wrap;
}

.boxes > div {
    border: 2px solid rebeccapurple;
    margin: .5em 0;
    padding: 0 .5em;
    background-color: orange;

    flex-basis: 50%;
}

/* Media Query */
@media (min-width: 768px){

    body {
        background-color: yellow;
    }

    .boxes > div {
        flex-basis: 33%;
    }
}

@media (min-width: 992px){
    body {
        background-color: pink;
    }

    h1 {
        text-decoration: underline;
    }

    .boxes > div {
        flex-basis: 25%;
        flex-grow: 1;
    }
}




